<div ng-controller="AdminTeachInfoModifyCtrl">
  <div class="form-group group-pd05">
    <div class="input-group">
      <span class="input-group-addon">大类</span>
      <select ng-model="model.ttid" class="form-control" ng-change="querySubtype();">
        <option ng-repeat="t in types" ng-value="t.ttid" ng-bind="t.typeName"></option>
      </select>
    </div>
    <div class="input-group">
      <span class="input-group-addon">小类</span>
      <select ng-model="model.tbTeachInfo.tstid" class="form-control">
        <option ng-repeat="t in subtypes" ng-value="t.tstid" ng-bind="t.subtypeName"></option>
      </select>
    </div>
    <div class="input-group">
      <span class="input-group-addon">链接类型</span>
      <select ng-model="model.tbTeachInfo.scid" class="form-control">
        <option ng-repeat="it in infotypes" ng-value="it.scid">{{it.infoCode}}-{{it.infoValue}}</option>
      </select>
    </div>
    <div class="input-group">
      <span class="input-group-addon">链接</span>
      <input type="text" class="form-control" ng-model="model.tbTeachInfo.link">
    </div>
    <div class="input-group">
      <span class="input-group-addon">描述</span>
      <textarea rows="3" class="form-control" ng-model="model.tbTeachInfo.info"></textarea>
    </div>
    <div class="input-group">
      <span class="input-group-addon">状态</span>
      <select class="form-control" ng-model="model.tbTeachInfo.enable">
        <option value="y">启用</option>
        <option value="n">停用</option>
      </select>
    </div>
    <div class="text-center">
      <span class="btn btn-danger" ng-click="save();">保存</span>
      <span class="btn btn-danger" ng-click="closeMe();">关闭</span>
    </div>
  </div>
</div>