<div ng-controller="AdminTeachSubtypeAddCtrl">
  <div class="form-group group-pd05">
    <div class="input-group">
      <span class="input-group-addon">分类</span>
      <select ng-model="model.tbTeachSubtype.ttid" class="form-control">
        <option ng-repeat="t in types" ng-value="t.ttid" ng-bind="t.typeName"></option>
      </select>
    </div>
    <div class="input-group">
      <span class="input-group-addon">名称</span>
      <input type="text" class="form-control" ng-model="model.tbTeachSubtype.subtypeName">
    </div>
    <div class="input-group">
      <span class="input-group-addon">图标</span>
      <input type="text" class="form-control" ng-model="model.tbTeachSubtype.iconfont">
    </div>
    <div class="input-group">
      <span class="input-group-addon">描述</span>
      <input type="text" class="form-control" ng-model="model.tbTeachSubtype.info">
    </div>
    <div class="text-center">
      <span class="btn btn-danger" ng-click="add();">保存</span>
      <span class="btn btn-danger" ng-click="closeMe();">关闭</span>
    </div>
  </div>
</div>